@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url(reset.css);


body{
  font-family: 'Montserrat';
}
.lock{overflow: hidden;}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  @media (max-width: 1191px) {
    max-width: 992px;
  }
  @media (max-width: 991px) {
    max-width: 768px;
  }
  @media (max-width: 768px) {
    max-width: 100%;
  }
}
.btn {
  padding: 11px 18px;
  background: #FFFFFF;
  border-radius: 6px;
  font-size: 16px;
  line-height: 20px;
  color: #52503B;
  transition: all 0.2s ease 0s;
  &:hover, &:focus{transform: scale(1.05);}
}

.wrapper{
  width: 100%;
}
.header {
  position: fixed;
  width: 100%;
  background: #52503B;
  z-index: 5;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 0;
    @media (max-width: 991px) {
      padding: 13px 0;
    }
    @media (max-width: 767px) {
      padding: 8px 0;
    }
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 767px) {
      flex: 1;
    }
  }
  &__logo {
    @media (max-width: 767px) {
      img{height: 30px;}
    }
    &:hover, &:focus{transform: scale(1.05);}
    transition: all 0.2s ease 0s;
  }
  &__burger {
    display: none;
    width: 30px;
    height: 24px;
    position:relative;
    &::before, &::after, span{
      position: absolute;
      content: '';
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #FFFFFF;
    }
    &::before{top: 0;}
    &::after{bottom: 0;}
    span{top: 11px}
    &_active{
      &::before{top: 11px; transform: rotate(45deg);}
      &::after{bottom: 11px; transform: rotate(-45deg);}
      span{opacity: 0;}
    }
    @media (max-width: 767px) {
      display: block;
    }
  }
  &__btn {
    @media (max-width: 767px) {
      display: none;
    }
  }
}
.menu {
  display: flex;
  justify-content: space-between;
  @media (max-width: 767px) {
    display: none;
  }
  &__list {
    display: flex;
    column-gap: 24px;
    align-items: center;
  }
  &__link {
    display: block;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-size: 15px;
    line-height: 1.33;
    color: #FFFFFF;
    transition: all 0.2s ease 0s;
    &:hover, &:focus{
      background-color: #fff;
      color: #000;
    }
  }
}
.menu-mobile{
  position: fixed;
  top: -100%;
  width: 100%;
  height: 100%;
  padding: 60px 0 0 0;
  background-color: #52503B;
  z-index: 2;
  .menu__list{
    flex-direction: column;
    row-gap: 20px;
  }
  &_active{
    top: 0;
  }
  @media (min-width: 768px) {
    display: none;
  }
}

.main{
  padding-top: 83px;
  @media (max-width: 991px) {
    padding-top: 71px;
  }
  @media (max-width: 767px) {
    padding-top: 46px;
  }
}
.intro {
  padding-top: 180px;
  padding-bottom: 80px;
  position: relative;
  overflow: hidden;
  @media (max-width: 991px) {
    padding-top: 140px;
    padding-bottom: 60px;
  }
  @media (max-width: 767px) {
    padding-top: 40px;
    padding-bottom: 30px;
  }
  &__parallax{
    position: absolute;
    width: 120%;
    height: 120%;
    top: -10%;
    left: -10%;
  }
  &__background{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__content{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    z-index: 1;
  }
  &__logo {
    margin-bottom: 34px;
    width: 260px;
    @media (max-width: 991px) {
      margin-bottom: 26px;
    }
    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
  }
  &__title {
    margin-bottom: 34px;
    font-size: 48px;
    line-height: 1.1;
    text-align: center;
    color: #FFFFFF;
    @media (max-width: 991px) {
      margin-bottom: 26px;
      font-size: 36px;
    }
    @media (max-width: 767px) {
      margin-bottom: 20px;
      font-size: 24px;
    }
  }
  &__subtitle {
    margin-bottom: 115px;
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    @media (max-width: 991px) {
      margin-bottom: 80px;
    }
    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
  }
  &__mouse {
    width: 34px;
    height: 53px;
    border-radius: 17px;
    border: 2px solid #FFFFFF;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      width: 2px;
      height: 10px;
      background-color: #fff;
      top: 10px;
      left: 14px;
    }
    @media (max-width: 991px) {
      margin-bottom: 26px;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
}
.article {
  padding-top: 100px;
  padding-bottom: 100px;
  &__orange-rect {
    width: 42px;
    height: 8px;
    background-color: #E08631;
    margin: 0 auto 33px;
  }
  @media (max-width: 991px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @media (max-width: 767px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.description {
  background: #FAF8F0;
  padding-bottom: 90px;
  &__content{
    display: flex;
    justify-content: center;
    column-gap: 40px;
  }
  &__text {
    max-width: 360px;
  }
  @media (max-width: 991px) {
    padding-bottom: 70px;
  }
  @media (max-width: 767px) {
    padding-bottom: 30px;
    &__content{
      flex-direction: column;
      gap: 20px;
    }
    &__text {
      max-width: 100%;
    }
  }
}
.slogan {
  padding-bottom: 140px;
  font-size: 96px;
  &__content {
    font-weight: 700;
    line-height: 1;
    text-align: center;
    color: #52503B;
  }
  @media (max-width: 991px) {
    padding-bottom: 80px;
    font-size: 56px;

  }
  @media (max-width: 767px) {
    padding-bottom: 40px;
    font-size: 40px;
  }
}
.poster{
  width: 100%;
  height: 600px;
  overflow: hidden;
  &>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.2s ease 0s;
    &:hover{
      transform: scale(1.05)
    }
  }
  @media (max-width: 991px) {
    height: 400px;
  }
  @media (max-width: 767px) {
    height: 200px;
  }
}
.sleeping {
  background-color: #FAF8F0;
  color: #52503B;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    font-size: 32px;
    line-height: 1.12;
    text-align: center;
    margin-bottom: 14px;
  }
  &__subtitle {
    max-width: 560px;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 30px;
  }
  &__items {
    display: flex;
    column-gap: 72px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.2s ease 0s;
    img{
      width: 64px; 
      height: 64px; 
      margin-bottom: 12px;
      transition: all 0.2s ease 0s;
    }
    h3{
      font-size: 16px;
      line-height: 1.5;
      text-align: center;
      margin-bottom: 1px;
    }
    &>p{
      max-width: 346px;
      font-size: 14px;
      line-height: 1.43;
      text-align: center;
    }
    &:hover{
      transform:translate(0, 5%);
      img{transform: scale(1.2);}
    }
  }
  @media (max-width: 767px) {
    &__title {
      font-size: 24px;
      margin-bottom: 12px;
    }
    &__subtitle {
      width: 100%;
      font-size: 14px;
      margin-bottom: 20px;
    }
    &__items {
      flex-direction: column;
      gap: 20px;
    }
    &__item {
      img{
        width: 32px; 
        height: 32px; 
        margin-bottom: 8px;
      }
      h3{
        font-size: 14px;
      }
      &>p{
        font-size: 12px;
      }
    }
  }
}
.escape {
  color: #52503B;
  &__orange-rect {
    margin: 0 0 33px;
  }
  &__title {
    font-size: 32px;
    line-height: 1.12;
    margin-bottom: 14px;
  }
  &__text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px, 1fr));
    gap: 40px;
  }
  &__item {
    display: flex;
    transition: all 0.2s ease 0s;
    img{
      width: 36px;
      height: 36px;
      margin-right: 16px;
    }
    div{
      font-size: 14px;
      line-height: 1.43;
    }
    &:hover{transform: translate(5px);}
  }
  @media (max-width: 767px) {
    &__title {
      font-size: 24px;
      margin-bottom: 12px;
    }
    &__text {
      font-size: 14px;
      margin-bottom: 20px;
    }
    &__items {
      grid-template-columns: 1fr;
      gap: 20px;
    }
    &__item {
      display: flex;
      align-items: center;
      transition: all 0.2s ease 0s;
      img{
        width: 24px;
        height: 24px;
        margin-right: 16px;
      }
      div{
        font-size: 12px;
      }
    }
  }
}
.past {
  padding-bottom: 70px;
  background-color: #FAF8F0;
  color: #52503B;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    font-size: 32px;
    line-height: 1.12;
    text-align: center;
    margin-bottom: 14px;
  }
  &__text {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 30px;
    max-width: 572px;
  }
  &__slider {

  }
  @media (max-width: 991px) {
    padding-bottom: 50px;
    
  }
  @media (max-width: 767px) {
    padding-bottom: 30px;
    &__title {
      font-size: 24px;
      margin-bottom: 11px;
    }
    &__text {
      font-size: 14px;
      margin-bottom: 20px;
      max-width: 572px;
    }
  }
}
.card {
  background: #FFFFFF;
  border: 1px solid rgba(82, 80, 59, 0.1);
  border-radius: 4px;
  padding: 31px;
  max-width: 584px;
  &__stars {
    margin-bottom: 10px;
  }
  &__title {
    font-size: 18px;
    line-height: 1.33;
    color: #333333;
    margin-bottom: 11px;
  }
  &__text {
    font-size: 14px;
    line-height: 1.43;
    color: #333333;
    margin-bottom: 19px;
  }
  &__guest {
    display: block;
    padding-left: 10px;
    position: relative;
    font-size: 14px;
    line-height: 1.43;
    color: #333333;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      height: 20px;
      background-color: #E08631;
    }
  }
  @media (max-width: 767px) {
    padding: 25px;
    &__stars {
      margin-bottom: 8px;
    }
    &__title {
      font-size: 16px;
      margin-bottom: 9px;
    }
    &__text {
      font-size: 11px;
      margin-bottom: 15px;
    }
    &__guest {
      font-size: 12px;
      &::before{
        height: 17px;
      }
    }
  }
}
.come {
  padding-bottom: 120px;
  color: #52503B;
  &__content {
    display: flex;
    align-items: center;
    gap: 100px;
  }
  &__main {
    max-width: 514px;
  }
  &__orange-rect {
    margin: 0 0 33px;
  }
  &__title {
    font-size: 32px;
    line-height: 1.12;
    margin-bottom: 14px;
  }
  &__text {
    font-size: 16px;
    line-height: 1.5;
  }
  &__items {
    max-width: 560px;
    display: flex;
    flex-wrap: wrap;
    gap: 59px 37px ;
  }
  &__item {
    display: flex;
    max-width: 260px;
    position: relative;
    padding-left: 52px;
    img{
      position: absolute;
      left: 0;
      top: -4px;
      width: 36px;
      height: 36px;
      object-fit: contain;
    }
    &:hover{transform: translate(5px);}
    transition: all 0.2s ease 0s;
  }
  @media (max-width: 991px) {
    padding-bottom: 90px;
    &__content {
      display: flex;
      align-items: center;
      gap: 40px;
    }
    &__main {
      max-width: 280px;
    }
    &__title {
      font-size: 24px;
      margin-bottom: 11px;
    }
    &__text {
      font-size: 14px;
    }
    &__items {
      gap: 20px 10px ;
    }
    &__item {
      display: flex;
      max-width: 200px;
      position: relative;
      padding-left: 36px;
      img{
        position: absolute;
        left: 0;
        top: 0px;
        width: 24px;
        height: 24px;
        object-fit: contain;
      }
      &:hover{transform: translate(5px);}
      transition: all 0.2s ease 0s;
    }
  }
  @media (max-width: 767px) {
    padding-bottom: 45px;
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
    &__items {
      max-width: 410px;
      justify-content: center;
    }
  }
}
.last {
  background-color: #FAF8F0;
  color: #52503B;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    font-size: 32px;
    line-height: 1.12;
    text-align: center;
    max-width: 540px;
    margin-bottom: 14px;
  }
  &__text {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    max-width: 540px;
    margin-bottom: 18px;
  }
  &__buttons{
    display: flex;
    column-gap: 20px;
  }
  &__contact{
    border: 4px solid #52503B;
    background-color: #FAF8F0;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
  }
  &__book{
    border: 4px solid #52503B;
    background: #52503B;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: #FFFFFF;
  }
  @media (max-width: 767px) {
    padding-bottom: 30px;
    &__title {
      font-size: 24px;
      margin-bottom: 11px;
    }
    &__text {
      font-size: 14px;
      margin-bottom: 20px;
      max-width: 572px;
    }
  }
}
.footer {
  background-color: #52503B;
  padding: 100px 0 110px;
  &__top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    row-gap: 30px;
    margin-bottom: 48px;
  }
  &__title {
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  &__pages {
    ul{
      margin-top: 5px;
      display: flex;
      flex-direction: column;
      li{
        display: block;
        font-size: 14px;
        a{
          display: block;
          padding: 5px 0;
          line-height: 1.43;
          color: #FFFFFF;
          &:hover, &:focus{transform: translate(15px);}
          transition: all 0.2s ease 0s;
        }
      }
    }
  }
  &__social {
    div{
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      width: 130px;
      &>a{
        &:hover, &:focus{transform: scale(1.3);}
        transition: all 0.2s ease 0s;
      }
    }
  }
  &__newsletter {
    grid-column: span 2;
    max-width: 576px;
    font-size: 14px;
    line-height: 1.43;
    &>p{
      margin-top: 1px;
      margin-bottom: 9px;
      color: #FFFFFF;
    }
    form{
      background-color: #F9FAFB;
      border: 1px solid #E5E7EB;
      border-radius: 8px;
      display: flex;
      column-gap: 4px;
      padding: 4px;
      input{
        flex: 1;
        padding: 7px 12px 7px 26px;
        background-color: #F9FAFB;
        color: #52503B;
        &::placeholder{
          color: #52503B;
          opacity: 0.8;
        }
        &:hover, &:focus{
          border: 1px solid #52503B;
          border-radius: 10px;
          padding: 6px 11px 6px 25px;
        }
      }
      button{
        background: #52503B;
        border-radius: 10px;
        color: #FFFFFF;
        padding: 5px;
        &:hover, &:focus{transform: scale(1.1);}
        transition: all 0.2s ease 0s;
      }
    }
  }
  &__bot {
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    color: #FFFFFF;
  }
  &__logo {
    margin-bottom: 20px;
  }
  &__copy {
    margin-bottom: 20px;
  }
  &__contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }
  &__mail{
    display: flex;
    align-items: center;
    &::before, &::after{
      content: '—';
      display: block;
      width: 22px;
    }
  }
  @media (max-width: 991px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @media (max-width: 767px) {
    padding-top: 40px;
    padding-bottom: 40px;
    &__contacts {
      flex-direction: column;
    }
  }
}
