@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url(reset.css);
body {
  font-family: "Montserrat";
}

.lock {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
@media (max-width: 1191px) {
  .container {
    max-width: 992px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}

.btn {
  padding: 11px 18px;
  background: #FFFFFF;
  border-radius: 6px;
  font-size: 16px;
  line-height: 20px;
  color: #52503B;
  transition: all 0.2s ease 0s;
}
.btn:hover, .btn:focus {
  transform: scale(1.05);
}

.wrapper {
  width: 100%;
}

.header {
  position: fixed;
  width: 100%;
  background: #52503B;
  z-index: 5;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 0;
}
@media (max-width: 991px) {
  .header__container {
    padding: 13px 0;
  }
}
@media (max-width: 767px) {
  .header__container {
    padding: 8px 0;
  }
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .header__top {
    flex: 1;
  }
}
.header__logo {
  transition: all 0.2s ease 0s;
}
@media (max-width: 767px) {
  .header__logo img {
    height: 30px;
  }
}
.header__logo:hover, .header__logo:focus {
  transform: scale(1.05);
}
.header__burger {
  display: none;
  width: 30px;
  height: 24px;
  position: relative;
}
.header__burger::before, .header__burger::after, .header__burger span {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
}
.header__burger::before {
  top: 0;
}
.header__burger::after {
  bottom: 0;
}
.header__burger span {
  top: 11px;
}
.header__burger_active::before {
  top: 11px;
  transform: rotate(45deg);
}
.header__burger_active::after {
  bottom: 11px;
  transform: rotate(-45deg);
}
.header__burger_active span {
  opacity: 0;
}
@media (max-width: 767px) {
  .header__burger {
    display: block;
  }
}
@media (max-width: 767px) {
  .header__btn {
    display: none;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu__list {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  align-items: center;
}
.menu__link {
  display: block;
  padding: 5px;
  border-radius: 5px;
  font-family: "Montserrat";
  font-size: 15px;
  line-height: 1.33;
  color: #FFFFFF;
  transition: all 0.2s ease 0s;
}
.menu__link:hover, .menu__link:focus {
  background-color: #fff;
  color: #000;
}

.menu-mobile {
  position: fixed;
  top: -100%;
  width: 100%;
  height: 100%;
  padding: 60px 0 0 0;
  background-color: #52503B;
  z-index: 2;
}
.menu-mobile .menu__list {
  flex-direction: column;
  row-gap: 20px;
}
.menu-mobile_active {
  top: 0;
}
@media (min-width: 768px) {
  .menu-mobile {
    display: none;
  }
}

.main {
  padding-top: 83px;
}
@media (max-width: 991px) {
  .main {
    padding-top: 71px;
  }
}
@media (max-width: 767px) {
  .main {
    padding-top: 46px;
  }
}

.intro {
  padding-top: 180px;
  padding-bottom: 80px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 991px) {
  .intro {
    padding-top: 140px;
    padding-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .intro {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}
.intro__parallax {
  position: absolute;
  width: 120%;
  height: 120%;
  top: -10%;
  left: -10%;
}
.intro__background {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.intro__content {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.intro__logo {
  margin-bottom: 34px;
  width: 260px;
}
@media (max-width: 991px) {
  .intro__logo {
    margin-bottom: 26px;
  }
}
@media (max-width: 767px) {
  .intro__logo {
    margin-bottom: 20px;
  }
}
.intro__title {
  margin-bottom: 34px;
  font-size: 48px;
  line-height: 1.1;
  text-align: center;
  color: #FFFFFF;
}
@media (max-width: 991px) {
  .intro__title {
    margin-bottom: 26px;
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  .intro__title {
    margin-bottom: 20px;
    font-size: 24px;
  }
}
.intro__subtitle {
  margin-bottom: 115px;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (max-width: 991px) {
  .intro__subtitle {
    margin-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .intro__subtitle {
    margin-bottom: 20px;
  }
}
.intro__mouse {
  width: 34px;
  height: 53px;
  border-radius: 17px;
  border: 2px solid #FFFFFF;
  position: relative;
}
.intro__mouse::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 10px;
  background-color: #fff;
  top: 10px;
  left: 14px;
}
@media (max-width: 991px) {
  .intro__mouse {
    margin-bottom: 26px;
  }
}
@media (max-width: 767px) {
  .intro__mouse {
    display: none;
  }
}

.article {
  padding-top: 100px;
  padding-bottom: 100px;
}
.article__orange-rect {
  width: 42px;
  height: 8px;
  background-color: #E08631;
  margin: 0 auto 33px;
}
@media (max-width: 991px) {
  .article {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .article {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.description {
  background: #FAF8F0;
  padding-bottom: 90px;
}
.description__content {
  display: flex;
  justify-content: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.description__text {
  max-width: 360px;
}
@media (max-width: 991px) {
  .description {
    padding-bottom: 70px;
  }
}
@media (max-width: 767px) {
  .description {
    padding-bottom: 30px;
  }
  .description__content {
    flex-direction: column;
    gap: 20px;
  }
  .description__text {
    max-width: 100%;
  }
}

.slogan {
  padding-bottom: 140px;
  font-size: 96px;
}
.slogan__content {
  font-weight: 700;
  line-height: 1;
  text-align: center;
  color: #52503B;
}
@media (max-width: 991px) {
  .slogan {
    padding-bottom: 80px;
    font-size: 56px;
  }
}
@media (max-width: 767px) {
  .slogan {
    padding-bottom: 40px;
    font-size: 40px;
  }
}

.poster {
  width: 100%;
  height: 600px;
  overflow: hidden;
}
.poster > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: all 0.2s ease 0s;
}
.poster > img:hover {
  transform: scale(1.05);
}
@media (max-width: 991px) {
  .poster {
    height: 400px;
  }
}
@media (max-width: 767px) {
  .poster {
    height: 200px;
  }
}

.sleeping {
  background-color: #FAF8F0;
  color: #52503B;
}
.sleeping__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sleeping__title {
  font-size: 32px;
  line-height: 1.12;
  text-align: center;
  margin-bottom: 14px;
}
.sleeping__subtitle {
  max-width: 560px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 30px;
}
.sleeping__items {
  display: flex;
  -moz-column-gap: 72px;
       column-gap: 72px;
}
.sleeping__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s ease 0s;
}
.sleeping__item img {
  width: 64px;
  height: 64px;
  margin-bottom: 12px;
  transition: all 0.2s ease 0s;
}
.sleeping__item h3 {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 1px;
}
.sleeping__item > p {
  max-width: 346px;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
}
.sleeping__item:hover {
  transform: translate(0, 5%);
}
.sleeping__item:hover img {
  transform: scale(1.2);
}
@media (max-width: 767px) {
  .sleeping__title {
    font-size: 24px;
    margin-bottom: 12px;
  }
  .sleeping__subtitle {
    width: 100%;
    font-size: 14px;
    margin-bottom: 20px;
  }
  .sleeping__items {
    flex-direction: column;
    gap: 20px;
  }
  .sleeping__item img {
    width: 32px;
    height: 32px;
    margin-bottom: 8px;
  }
  .sleeping__item h3 {
    font-size: 14px;
  }
  .sleeping__item > p {
    font-size: 12px;
  }
}

.escape {
  color: #52503B;
}
.escape__orange-rect {
  margin: 0 0 33px;
}
.escape__title {
  font-size: 32px;
  line-height: 1.12;
  margin-bottom: 14px;
}
.escape__text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
}
.escape__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 40px;
}
.escape__item {
  display: flex;
  transition: all 0.2s ease 0s;
}
.escape__item img {
  width: 36px;
  height: 36px;
  margin-right: 16px;
}
.escape__item div {
  font-size: 14px;
  line-height: 1.43;
}
.escape__item:hover {
  transform: translate(5px);
}
@media (max-width: 767px) {
  .escape__title {
    font-size: 24px;
    margin-bottom: 12px;
  }
  .escape__text {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .escape__items {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .escape__item {
    display: flex;
    align-items: center;
    transition: all 0.2s ease 0s;
  }
  .escape__item img {
    width: 24px;
    height: 24px;
    margin-right: 16px;
  }
  .escape__item div {
    font-size: 12px;
  }
}

.past {
  padding-bottom: 70px;
  background-color: #FAF8F0;
  color: #52503B;
}
.past__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.past__title {
  font-size: 32px;
  line-height: 1.12;
  text-align: center;
  margin-bottom: 14px;
}
.past__text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 30px;
  max-width: 572px;
}
@media (max-width: 991px) {
  .past {
    padding-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .past {
    padding-bottom: 30px;
  }
  .past__title {
    font-size: 24px;
    margin-bottom: 11px;
  }
  .past__text {
    font-size: 14px;
    margin-bottom: 20px;
    max-width: 572px;
  }
}

.card {
  background: #FFFFFF;
  border: 1px solid rgba(82, 80, 59, 0.1);
  border-radius: 4px;
  padding: 31px;
  max-width: 584px;
}
.card__stars {
  margin-bottom: 10px;
}
.card__title {
  font-size: 18px;
  line-height: 1.33;
  color: #333333;
  margin-bottom: 11px;
}
.card__text {
  font-size: 14px;
  line-height: 1.43;
  color: #333333;
  margin-bottom: 19px;
}
.card__guest {
  display: block;
  padding-left: 10px;
  position: relative;
  font-size: 14px;
  line-height: 1.43;
  color: #333333;
}
.card__guest::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 20px;
  background-color: #E08631;
}
@media (max-width: 767px) {
  .card {
    padding: 25px;
  }
  .card__stars {
    margin-bottom: 8px;
  }
  .card__title {
    font-size: 16px;
    margin-bottom: 9px;
  }
  .card__text {
    font-size: 11px;
    margin-bottom: 15px;
  }
  .card__guest {
    font-size: 12px;
  }
  .card__guest::before {
    height: 17px;
  }
}

.come {
  padding-bottom: 120px;
  color: #52503B;
}
.come__content {
  display: flex;
  align-items: center;
  gap: 100px;
}
.come__main {
  max-width: 514px;
}
.come__orange-rect {
  margin: 0 0 33px;
}
.come__title {
  font-size: 32px;
  line-height: 1.12;
  margin-bottom: 14px;
}
.come__text {
  font-size: 16px;
  line-height: 1.5;
}
.come__items {
  max-width: 560px;
  display: flex;
  flex-wrap: wrap;
  gap: 59px 37px;
}
.come__item {
  display: flex;
  max-width: 260px;
  position: relative;
  padding-left: 52px;
  transition: all 0.2s ease 0s;
}
.come__item img {
  position: absolute;
  left: 0;
  top: -4px;
  width: 36px;
  height: 36px;
  -o-object-fit: contain;
     object-fit: contain;
}
.come__item:hover {
  transform: translate(5px);
}
@media (max-width: 991px) {
  .come {
    padding-bottom: 90px;
  }
  .come__content {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .come__main {
    max-width: 280px;
  }
  .come__title {
    font-size: 24px;
    margin-bottom: 11px;
  }
  .come__text {
    font-size: 14px;
  }
  .come__items {
    gap: 20px 10px;
  }
  .come__item {
    display: flex;
    max-width: 200px;
    position: relative;
    padding-left: 36px;
    transition: all 0.2s ease 0s;
  }
  .come__item img {
    position: absolute;
    left: 0;
    top: 0px;
    width: 24px;
    height: 24px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .come__item:hover {
    transform: translate(5px);
  }
}
@media (max-width: 767px) {
  .come {
    padding-bottom: 45px;
  }
  .come__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .come__items {
    max-width: 410px;
    justify-content: center;
  }
}

.last {
  background-color: #FAF8F0;
  color: #52503B;
}
.last__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.last__title {
  font-size: 32px;
  line-height: 1.12;
  text-align: center;
  max-width: 540px;
  margin-bottom: 14px;
}
.last__text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  max-width: 540px;
  margin-bottom: 18px;
}
.last__buttons {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.last__contact {
  border: 4px solid #52503B;
  background-color: #FAF8F0;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
}
.last__book {
  border: 4px solid #52503B;
  background: #52503B;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .last {
    padding-bottom: 30px;
  }
  .last__title {
    font-size: 24px;
    margin-bottom: 11px;
  }
  .last__text {
    font-size: 14px;
    margin-bottom: 20px;
    max-width: 572px;
  }
}

.footer {
  background-color: #52503B;
  padding: 100px 0 110px;
}
.footer__top {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  row-gap: 30px;
  margin-bottom: 48px;
}
.footer__title {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer__pages ul {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}
.footer__pages ul li {
  display: block;
  font-size: 14px;
}
.footer__pages ul li a {
  display: block;
  padding: 5px 0;
  line-height: 1.43;
  color: #FFFFFF;
  transition: all 0.2s ease 0s;
}
.footer__pages ul li a:hover, .footer__pages ul li a:focus {
  transform: translate(15px);
}
.footer__social div {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 130px;
}
.footer__social div > a {
  transition: all 0.2s ease 0s;
}
.footer__social div > a:hover, .footer__social div > a:focus {
  transform: scale(1.3);
}
.footer__newsletter {
  grid-column: span 2;
  max-width: 576px;
  font-size: 14px;
  line-height: 1.43;
}
.footer__newsletter > p {
  margin-top: 1px;
  margin-bottom: 9px;
  color: #FFFFFF;
}
.footer__newsletter form {
  background-color: #F9FAFB;
  border: 1px solid #E5E7EB;
  border-radius: 8px;
  display: flex;
  -moz-column-gap: 4px;
       column-gap: 4px;
  padding: 4px;
}
.footer__newsletter form input {
  flex: 1;
  padding: 7px 12px 7px 26px;
  background-color: #F9FAFB;
  color: #52503B;
}
.footer__newsletter form input::-moz-placeholder {
  color: #52503B;
  opacity: 0.8;
}
.footer__newsletter form input:-ms-input-placeholder {
  color: #52503B;
  opacity: 0.8;
}
.footer__newsletter form input::placeholder {
  color: #52503B;
  opacity: 0.8;
}
.footer__newsletter form input:hover, .footer__newsletter form input:focus {
  border: 1px solid #52503B;
  border-radius: 10px;
  padding: 6px 11px 6px 25px;
}
.footer__newsletter form button {
  background: #52503B;
  border-radius: 10px;
  color: #FFFFFF;
  padding: 5px;
  transition: all 0.2s ease 0s;
}
.footer__newsletter form button:hover, .footer__newsletter form button:focus {
  transform: scale(1.1);
}
.footer__bot {
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  color: #FFFFFF;
}
.footer__logo {
  margin-bottom: 20px;
}
.footer__copy {
  margin-bottom: 20px;
}
.footer__contacts {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .footer__contacts {
    flex-direction: column;
  }
}
.footer__mail {
  display: flex;
  align-items: center;
}
.footer__mail::before, .footer__mail::after {
  content: "—";
  display: block;
  width: 22px;
}
@media (max-width: 991px) {
  .footer {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer__contacts {
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */